#Title: BioCypher graph schema configuration file for multi-omics studies
#Version: 1.0
#Author: Osnat Weissberg
#Date: 2024-06-10
#########################################
# Study and Publication Entities
# Statistical Test Results: Explicit Regulation States
#########################################

study:
  is_a: Study
  represented_as: node
  preferred_id: id
  label_in_input: study
  properties:
    title: str
    description: str
    abstract: str
    study_type: str # e.g., Transcriptomics, Proteomics
    organism: str[]

publication:
  is_a: Publication
  represented_as: node
  preferred_id: doi
  label_in_input: publication
  properties:
    title: str
    authors: str[]
    journal: str
    publication_year: int
    doi: str
    pmid: str
    description: str
    abstract: str
    study_type: str # e.g., Transcriptomics, Proteomics
    organism: str[]


# The Edge definition
organism to gene expression association:
  is_a: Association
  represented_as: edge
  # Use the standard Biolink predicate
  label_as_edge: affects_expression_of 
  label_in_input: affects_expression_of 
  # Note: In this model, the Treatment Organism is the Source (the 'cause') 
  # and the Gene is the Target (the 'affected')
  source: organism_taxon  # treatment organism
  target: gene
  properties:
    # Reference to the statistical test that generated this result
    statistical_test_id: str  # ID of the Analysis/test node
    
    # Metadata identifying this as DE analysis
    analysis_method: str  # e.g., DESeq2, Rockhopper
    expression_direction: str # "up" | "down"
    
    # Biolink Qualifiers
    object_aspect_qualifier: str  # "expression"
    object_direction_qualifier: str # "increased" | "decreased"
    
    # Context - control and treatment conditions
    time_point: str
    comparative_term_qualifier: str # e.g., "coculture"
    
    # Stats
    log2_fold_change: float
    adjusted_p_value: float

    publications: str[]  # list of publication ids

# Environmental stress gene expression - direct edge for LLM queries
environmental condition to gene expression association:
  is_a: Association
  represented_as: edge
  label_as_edge: environmental_condition_affects_expression_of
  label_in_input: environmental_condition_affects_expression_of
  # Environmental condition is the Source (the 'cause')
  # and the Gene is the Target (the 'affected')
  source: environmental condition
  target: gene
  properties:
    # Reference to the statistical test that generated this result
    statistical_test_id: str  # ID of the Analysis/test node

    # Metadata identifying this as DE analysis
    analysis_method: str  # e.g., DESeq2, Rockhopper
    expression_direction: str # "up" | "down"

    # Biolink Qualifiers
    object_aspect_qualifier: str  # "expression"
    object_direction_qualifier: str # "increased" | "decreased"

    # Context - control and treatment conditions
    time_point: str
    control_condition: str  # e.g., "normal_light", "replete"
    treatment_condition: str  # e.g., "darkness", "nitrogen_starved"

    # Stats
    log2_fold_change: float
    adjusted_p_value: float

    publications: str[]  # list of publication ids


study_published_in:
  is_a: Association
  represented_as: edge
  label_as_edge: study_published_in
  source: study
  target: publication
  label_in_input: study_published_in

statistical_test:
  is_a: Analysis
  represented_as: node
  preferred_id: id
  label_in_input: test
  properties:
    name: str # e.g., differential expression analysis
    test_type: str # e.g., t-test, DESeq2, Rockhopper
    control_condition: str
    treatment_condition: str
    timepoint: str # e.g., "24h", "day 7"
    reference_timepoint: str # baseline timepoint if applicable
    organism: str

test_in_study:
  is_a: Association
  represented_as: edge
  label_as_edge: part_of
  source: statistical_test
  target: study
  label_in_input: test_in_study
  properties:
    predicate: str  # "part_of" - test is part of this study

# Experimental factors linked to statistical tests
organism treatment in test:
  is_a: Association
  represented_as: edge
  label_as_edge: organism_treatment_in_test
  source: organism_taxon
  target: statistical_test
  label_in_input: organism_treatment_in_test
  properties:
    role: str  # "coculture_partner", "predator", "symbiont", "host"

environmental condition in test:
  is_a: Association
  represented_as: edge
  label_as_edge: environmental_condition_in_test
  source: environmental condition
  target: statistical_test
  label_in_input: environmental_condition_in_test
  properties:
    role: str  # "treatment", "control", "baseline"

molecular result from test:
  is_a: Association
  represented_as: edge
  source: [gene, protein]
  target: statistical_test
  label_in_input: molecular_result_from_test
  label_as_edge: molecular_result_from_test
  
  properties:
    log2_fold_change: float
    p_value: float
    adjusted_p_value: float
    direction: str # "up" or "down"
    predicate: str
    publications: str[]  # list of publication ids

gene upregulated in organism presence association:
  is_a: GeneToExpressionSiteAssociation
  represented_as: edge
  source: gene
  target: organism taxon
  label_as_edge: gene_upregulated_in_organism_presence
  label_in_input: gene_upregulated_in_organism_presence
  properties:
    # Biolink Qualifiers (Standard)
    predicate: str
    description: str
    has_evidence: str # need to be evidence node id
    subject_aspect_qualifier: str  # e.g., "expression"
    object_direction_qualifier: str # e.g., "increased" or "decreased"
    publications: str[]  # list of publication ids
    
    # Quantitative DE Data (Custom attributes)
    log2_fold_change: float
    adjusted_p_value: float
    condition: str                 # e.g., "coculture_vs_monoculture"
    timepoint: str                 # e.g., "24h", "day 7"


timeseries_cluster:
  is_a: GroupingClass
  represented_as: node
  preferred_id: id
  label_in_input: timeseries_cluster
  properties:
    name: str
    method: str # e.g., WGCNA, k-means
    description: str

cluster_in_study:
  is_a: Association
  represented_as: edge
  label_as_edge: cluster_in_study
  source: timeseries_cluster
  target: study
  label_in_input: cluster_in_study

molecular_in_cluster:
  is_a: Association
  represented_as: edge
  source: [gene, protein]
  target: timeseries_cluster
  label_in_input: member_of_cluster
  




#####################################



##################################################
# ---
# "Named Things"
# ---
   
gene:
  represented_as: node
  preferred_id: ncbigene
  label_in_input: gene
  properties:    
    gene_names: str[]
    gene_names_cyanorak: str[]
    kegg_ids: str[]
    locus_tag: str
    locus_tag_ncbi: str
    locus_tag_cyanorak: str
    start: int
    end: int
    start_cyanorak: int
    end_cyanorak: int
    strand: str
    strand_cyanorak: str
    product: stror f"study_{Path(pdf_path).stem}"
    product_cyanorak: str
    protein_id: str
    Ontology_term: str[]
    ontology_term_description: str[]
    eggNOG: str[]
    eggNOG_description: str[]
    kegg: str[]
    kegg_description: str[]
    cyanorak_Role: str[]
    cyanorak_Role_description: str[]
    tIGR_Role: str[]
    tIGR_Role_description: str[]
    cluster_number: str
    protein_domains: str[]
    protein_domains_description: str[]

# consider adding: Note, exceptions, inference




protein:
  represented_as: node
  preferred_id: uniprot
  label_in_input: protein
  properties:
    length: int
    mass: int
    primary_protein_name: str
    protein_name: str[]
    xref_proteomes: str[]
    # organism_name: str
    # organism_id: int
    sequence: str
    prott5_embedding: float[]
    gene_names: str[]
    kegg_ids: str[]
    gene_symbol: str
    ec: str
    subcellular_location: str[]
    gene_primary: str
    # added to test
    gene_ordered_locus: str
    cc_catalytic_activity: str
    cc_cofactor: str
    cc_function: str
    cc_pathway: str
    annotation_score: float
    cc_caution: str
    keywordid: str
    keyword: str
    reviewed: bool
    cc_interaction: str
    cellular_component: str
    biological_process: str
    molecular_function: str
    ft_transmem: str
    ft_signal: str
    cc_domain: str
    ft_motif: str
    protein_families: str
    xref_refseq: str
    xref_string: str
    xref_eggnog: str
    xref_pfam: str

  
organism taxon:
  represented_as: node
  preferred_id: ncbitaxon
  label_in_input: organism
  properties:
    organism_name: str

environmental condition:
  is_a: EnvironmentalFeature
  represented_as: node
  preferred_id: id
  label_in_input: environmental_condition
  properties:
    name: str
    condition_type: str  # "gas_shock" | "nutrient_stress" | "light_stress"

    # Gas parameters
    oxygen_level: str      # e.g., "0%", "21%", "depleted"
    co2_level: str         # e.g., "0%", "ambient"

    # Nutrient parameters
    nitrogen_source: str   # e.g., "ammonia", "nitrate", "none"
    nitrogen_level: str    # e.g., "replete", "limited", "starved"
    phosphate_level: str   # e.g., "replete", "limited", "starved"

    # Light parameters
    light_condition: str   # e.g., "darkness", "blue", "red", "white"
    light_intensity: str   # e.g., "0", "low", "high"

    description: str

protein domain:  
  represented_as: node
  preferred_id: interpro
  label_in_input: domain
  properties:    
    protein_count: int
    name: str
    type: str
    parent_list: str[]
    child_list: str[]
    pfam: str[]
    ec: str[]
    pdb: str[]
    
biological process:
  is_a: gene ontology
  represented_as: node
  preferred_id: go
  label_in_input: biological process
  properties:
    name: str
    anc2vec_embedding: float[]
  
cellular component:
  represented_as: node
  preferred_id: go
  label_in_input: cellular component
  properties:
    name: str
    anc2vec_embedding: float[]

molecular function:
  synonym_for: molecular activity
  represented_as: node
  preferred_id: go
  label_in_input: molecular function
  properties:
    name: str
    anc2vec_embedding: float[]
  

compound:
  is_a: SmallMolecule
  represented_as: node
  preferred_id: id
  label_in_input: compound
  properties:
    smiles: str
    type: str
    full_mwt: float
    species: str
    heavy_atoms: int
    alogp: float
    inchi: str
    inchikey: str
    qed_score: float
    selformer_embedding: float[]

# phenotype:
#   is_a: PhenotypicFeature
#   represented_as: node
#   preferred_id: hp
#   label_in_input: phenotype
#   properties:
#     name: str
#     synonyms: str[]

pathway:
  represented_as: node
  preferred_id: id
  label_in_input: pathway
  properties:
    name: str
    organism: str


ec number:
  is_a: molecular activity
  represented_as: node
  preferred_id: eccode
  label_in_input: ec_number
  properties:
    name: str
    alternate_name: str[]
    catalytic_activity: str[]
    comments: str[]
    rxnfp_embedding: float[]


# ---
# Associations
# ---

gene to protein relationship:
  is_a: gene to gene product relationship
  represented_as: edge
  label_as_edge: Gene_encodes_protein
  source: gene
  target: protein
  label_in_input: Gene_encodes_protein
  
protein to organism taxon association:
  is_a: association
  represented_as: edge
  label_as_edge: Protein_belongs_to_organism
  source: protein
  target: organismTaxon
  label_in_input: Protein_belongs_to_organism
  

protein to protein domain association:
  is_a: association
  represented_as: edge
  label_as_edge: protein_has_domain
  source: protein
  target: protein domain
  label_in_input: protein_has_domain
  properties:
    start: str
    end: str

protein to biological process association:
  is_a: GeneToGoTermAssociation
  represented_as: edge
  label_as_edge: protein_involved_in_biological_process
  source: protein
  target: biological process
  label_in_input: protein_involved_in_biological_process
  properties:
    reference: str
    evidence_code: str

protein to cellular component association:
  is_a: GeneToGoTermAssociation
  represented_as: edge
  source: [protein_located_in_cellular_component, protein_part_of_cellular_component, protein_is_active_in_cellular_component]
  target: cellular component
  label_in_input: [protein_located_in_cellular_component, protein_part_of_cellular_component, protein_is_active_in_cellular_component] 
  properties:
    reference: str
    evidence_code: str
  
protein to molecular function association:
  is_a: GeneToGoTermAssociation
  represented_as: edge
  source: [protein_enables_molecular_function, protein_contributes_to_molecular_function]
  target: molecular function
  label_in_input: [protein_enables_molecular_function, protein_contributes_to_molecular_function]
  properties:
    reference: str
    evidence_code: str

biological process to biological process association:
  is_a: association
  represented_as: edge
  source: [biological_process_is_a_biological_process, biological_process_part_of_biological_process, biological_process_positively_regulates_biological_process, biological_process_negatively_regulates_biological_process]
  target: biological process
  label_in_input: [biological_process_is_a_biological_process, biological_process_part_of_biological_process, biological_process_positively_regulates_biological_process, biological_process_negatively_regulates_biological_process]

biological process to molecular function association:
  is_a: association
  represented_as: edge
  source: [biological_process_positively_regulates_molecular_function, biological_process_negatively_regulates_molecular_function]
  target: molecular function
  label_in_input: [biological_process_positively_regulates_molecular_function, biological_process_negatively_regulates_molecular_function]

molecular function to molecular function association:
  is_a: association
  represented_as: edge
  source: [molecular_function_is_a_molecular_function, molecular_function_part_of_molecular_function, molecular_function_positively_regulates_molecular_function, molecular_function_negatively_regulates_molecular_function]
  target: molecular function
  label_in_input: [molecular_function_is_a_molecular_function, molecular_function_part_of_molecular_function, molecular_function_positively_regulates_molecular_function, molecular_function_negatively_regulates_molecular_function]

cellular component to cellular component association:
  is_a: association
  represented_as: edge
  source: [cellular_component_is_a_cellular_component, cellular_component_part_of_cellular_component]
  target: cellular component
  label_in_input: [cellular_component_is_a_cellular_component, cellular_component_part_of_cellular_component]

protein domain to molecular function association:
  is_a: association
  represented_as: edge
  label_as_edge: protein_domain_enables_molecular_function
  source: protein domain
  target: molecular function
  label_in_input: protein_domain_enables_molecular_function
  
protein domain to biological process association:
  is_a: association
  represented_as: edge
  label_as_edge: protein_domain_involved_in_biological_process
  source: protein domain
  target: biological process
  label_in_input: protein_domain_involved_in_biological_process
  
protein domain to cellular component association:
  is_a: association
  represented_as: edge
  label_as_edge: protein_domain_located_in_cellular_component
  source: protein domain
  target: cellular component
  label_in_input: protein_domain_located_in_cellular_component

compound to protein association:
  is_a: pairwise molecular interaction
  represented_as: edge
  label_as_edge: compound_targets_protein
  source: compound
  target: protein
  label_in_input: compound_targets_protein
  properties:
    source: str[]
    pchembl: float
    activity_value: float
    activity_type: str
    assay_chembl: str[]
    confidence_score: float
    stitch_combined_score: float
    references: str[]


gene to gene orthology association:
  is_a: association
  represented_as: edge
  label_as_edge: gene_is_orthologous_with_gene
  source: gene
  target: gene
  label_in_input: gene_is_orthologous_with_gene
  properties:
    source: str[]
    relation_type: str
    oma_orthology_score: float



# protein to phenotype association:
#   is_a: GeneToPhenotypicFeatureAssociation
#   represented_as: edge
#   label_as_edge: protein_is_associated_with_phenotype
#   source: protein
#   target: phenotype
#   label_in_input: protein_is_associated_with_phenotype

# phenotype hierarchical association:
#   is_a: association
#   represented_as: edge
#   label_as_edge: phenotype_is_a_phenotype
#   source: phenotype
#   target: phenotype
#   label_in_input: phenotype_is_a_phenotype


protein to pathway association:
  is_a: GeneToPathwayAssociation
  represented_as: edge
  label_as_edge: protein_take_part_in_pathway
  source: protein
  target: pathway
  label_in_input: protein_take_part_in_pathway
  properties:
    source: str
    evidence_code: str


# pathway to pathway association:
#   is_a: association
#   represented_as: edge
#   source: [pathway_is_part_of_pathway, pathway_is_equivalent_to_pathway]
#   target: pathway
#   label_in_input: [pathway_is_part_of_pathway, pathway_is_equivalent_to_pathway]

# reactome hierarchical association:
#   is_a: association
#   represented_as: edge
#   label_as_edge: pathway_participates_pathway
#   source: pathway
#   target: pathway
#   label_in_input: pathway_participates_pathway

# pathway to pathway orthology association:
#   is_a: association
#   represented_as: edge
#   label_as_edge: pathway_is_ortholog_to_pathway
#   source: pathway
#   target: pathway
#   label_in_input: pathway_is_ortholog_to_pathway


protein to ec number association:
  is_a: ReactionToParticipantAssociation
  represented_as: edge
  label_as_edge: protein_catalyzes_ec_number
  source: protein
  target: ec number
  label_in_input: protein_catalyzes_ec_number

ec number hierarchical association:
  is_a: molecular activity to molecular activity association
  represented_as: edge
  label_as_edge: ec_number_is_a_ec_number
  source: ec number
  target: ec number
  label_in_input: ec_number_is_a_ec_number

# gene to gene regulatory association:
#   is_a: pairwise gene to gene interaction
#   represented_as: edge
#   label_as_edge: gene_regulates_gene
#   source: gene
#   target: gene
#   label_in_input: gene_regulates_gene
#   properties:
#     source: str[]
#     dorothea_confidence_level: str
#     pubmed_id: str[]
#     tf_effect: str

